main {}
/* 1행 메인베너 */
main .ad_swiper {}
main .ad_swiper .swiper-wrapper {
    width:1920px; height:800px;
}
main .ad_swiper .swiper-wrapper {}
main .ad_swiper .swiper-wrapper .swiper-slide {}
main .ad_swiper .swiper-wrapper .swiper-slide {
    position:relative;
}
main .ad_swiper .swiper-wrapper .slide1 {background-image:url(../images/main1/main_photo1.jpg);}
main .ad_swiper .swiper-wrapper .slide2 {}
main .ad_swiper .swiper-wrapper .slide3 {}

main .ad_swiper .bottom {
    display:flex;
    position:absolute; left:45%; top:95%;
}
main .ad_swiper .bottom .slide {
    position:relative;
}
main .ad_swiper .bottom .slide a:first-child {
    position:absolute;
}
main .ad_swiper .bottom .slide a {}
main .ad_swiper .bottom .slide a img {}
main .ad_swiper .bottom .btn_wrap {
    display:flex;
    
}
main .ad_swiper .bottom .btn_wrap a {}
main .ad_swiper .bottom .btn_wrap a img {}
main .ad_swiper .bottom .btn_wrap p {}



/* 2행 카테고리 */
main .menu_wrap {
    display:flex;
    width:1600px;
    padding:100px 0;
    margin:0 auto;
    
}
main .menu_wrap .menu {}
main .menu_wrap .menu a {
    display:flex; flex-flow:column nowrap;
    width:120px; height:120px;
    text-align:center;
    margin-right:50px;
}
main .menu_wrap .menu a img {
    margin-bottom:15px;
}
main .menu_wrap .menu a span {font-weight:500;}
main .menu_wrap .menu1 {margin-left:230px;}
main .menu_wrap .menu2 {}
main .menu_wrap .menu3 {}
main .menu_wrap .menu4 {}
main .menu_wrap .menu5 {}
main .menu_wrap .menu6 {}
main .menu_wrap .menu7 {}
main .menu_wrap .menu7 a {margin-right:0;}

/* 3행 배너1 */
main .bnr_first {
    padding-left:160px;
    display:flex;
}
main .bnr_first a {margin-right:20px;}
main .bnr_first a:last-child {margin-right:0;}
main .bnr_first a img {}

/* 4행 new product */
main .new_product {
    width:1600px;
    margin:150px auto;
    position:relative;
}
main .new_product .title_g {
    display:flex; justify-content:space-between;
    margin-bottom:10px;
}
main .new_product .title_g .title p {
    font-size:1.125rem;
    margin-bottom:5px;
}
main .new_product .title_g .title h2 {
    font-size:2rem; font-weight:600;
}
main .new_product .title_g .more {
    border:1px solid red;
    margin-top:41px;
    line-height:14px;
}
main .new_product .title_g .more span {
    font-size:0.875rem;
}
main .new_product .title_g .more img {}
main .new_product .menu_g {}
main .new_product .menu a {
    font-weight:500;
}
main .new_product .menu a:hover {
    color:#7AC142;
}
main .new_product .menu .top {
    padding:25px 0 10px;
    border-top:0.3px solid rgba(51,51,51,0.3);
}
main .new_product .menu .top a {}


main .new_product .menu .bottom {
    padding:10px 0 25px;
    border-bottom:0.3px solid rgba(51,51,51,0.3);
}
main .new_product .menu .bottom a {}
main .new_product .menu .top a,
main .new_product .menu .bottom a {margin-right:50px;}
main .new_product .menu .top a:last-child,
main .new_product .menu .bottom a:last-child {margin-right:0;}

main .new_product {}
main .new_product .new_swiper {}
main .new_product .new_swiper .swiper-wrapper {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul {
    background-color:aqua;
    display:flex; justify-content:space-between;
    margin:70px 0 100px;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li {
    width:350px;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li a {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li a img {}

main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom {
    display:flex;
    margin-top:10px;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom a {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom a img {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom .content {
    padding:23px 13px;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom .content h3 {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom .content h3 a {
    font-weight:500;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom .content .new_price {
    margin:10px 0 20px;
}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom .content .new_price span {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom .content .new_price span:nth-child(2) {font-weight:500;}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom .content .new_icon {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom .content .new_icon a {}
main .new_product .new_swiper .swiper-wrapper .swiper-slide ul li .new_bottom .content .new_icon a img {}

main .new_product .new_swiper .swiper-wrapper .slide1 {}
main .new_product .new_swiper .swiper-wrapper .slide2 {}
main .new_product .new_swiper .swiper-wrapper .slide3 {}

main .new_product .slide {
    text-align:center;
    position:relative;
}
main .new_product .slide a {}
main .new_product .slide a:first-child {
    position:absolute;
}
main .new_product .slide a img {}


/* 5행 올가홀푸드 */
main .olga_bg {
    background-color:rgba(241, 235, 226, 0.2);
    padding:100px 0;
}
main .olga_bg .olga_wrap {
    width:1600px;
    margin:0 auto;                           
}
main .olga_bg .olga_wrap .title_g {
    display:flex; justify-content:space-between;
}
main .olga_bg .olga_wrap .title_g h2 {
    font-size:2rem; font-weight:600;
}
main .olga_bg .olga_wrap .title_g .more {
    margin-top:18px;
}
main .olga_bg .olga_wrap .title_g .more span {}
main .olga_bg .olga_wrap .title_g .more img {}

main .olga_bg .olga_wrap .olga_bottom {
    background-color:yellow;
    display:flex;
    padding:100px 0;
}
main .olga_bg .olga_wrap .olga_bottom .right_bnr {
    background-color:coral;
    display:flex; flex-flow:column nowrap;
    margin-right:100px;
}
main .olga_bg .olga_wrap .olga_bottom .right_bnr a {}
main .olga_bg .olga_wrap .olga_bottom .right_bnr a:nth-child(2) {margin:20px 0;}
main .olga_bg .olga_wrap .olga_bottom .right_bnr a img {}

main .olga_bg .olga_wrap .olga_bottom {
    background-color:yellow;
    display:flex;
    padding:100px 0;
}
main .olga_bg .olga_wrap .olga_bottom .right_bnr {
    background-color:coral;
    display:flex; flex-flow:column nowrap;
    margin-right:100px;
}
main .olga_bg .olga_wrap .olga_bottom .right_bnr a {}
main .olga_bg .olga_wrap .olga_bottom .right_bnr a:nth-child(2) {margin:20px 0;}
main .olga_bg .olga_wrap .olga_bottom .right_bnr a img {}

main .olga_bg .olga_wrap .olga_bottom .product {
    background-color:aqua;
    display:flex; justify-content:space-between;
    width:1290px;
}
main .olga_bg .olga_wrap .olga_bottom .product li {
    margin-right:20px;
}
main .olga_bg .olga_wrap .olga_bottom .product li:last-child {margin-right:0;}
main .olga_bg .olga_wrap .olga_bottom .product li a {}
main .olga_bg .olga_wrap .olga_bottom .product li a img {}
main .olga_bg .olga_wrap .olga_bottom .product li .content {
    background-color:pink;
    margin-top:20px;
    padding:10px;
}
main .olga_bg .olga_wrap .olga_bottom .product li .content .olga_logo {
    display:flex; justify-content:space-between;
}
main .olga_bg .olga_wrap .olga_bottom .product li .content .olga_logo a {}
main .olga_bg .olga_wrap .olga_bottom .product li .content .olga_logo a img {}
main .olga_bg .olga_wrap .olga_bottom .product li .content .olga_logo .new_icon {}
main .olga_bg .olga_wrap .olga_bottom .product li .content .olga_logo .new_icon a {}
main .olga_bg .olga_wrap .olga_bottom .product li .content .olga_logo .new_icon a img {}
main .olga_bg .olga_wrap .olga_bottom .product li .content h3 {}
main .olga_bg .olga_wrap .olga_bottom .product li .content h3 a {
    font-weight:500;
}
main .olga_bg .olga_wrap .olga_bottom .product li .content .olga_price {
    margin:10px 0;
}
main .olga_bg .olga_wrap .olga_bottom .product li .content .olga_price span {}
main .olga_bg .olga_wrap .olga_bottom .product li .content .olga_price span:nth-child(2) {
    font-weight:500;
}
main .olga_bg .olga_wrap .olga_bottom .product li .content .review {}
main .olga_bg .olga_wrap .olga_bottom .product li .content .review a {}
main .olga_bg .olga_wrap .olga_bottom .product li .content .review a:first-child::after {
    content:'|'; display:inline-block;
    color:rgba(0,0,0,0.3);
}
main .olga_bg .olga_wrap .olga_bottom .product li .content .review a img {}
main .olga_bg .olga_wrap .olga_bottom .product li .content .review a span {
    font-size:0.75rem;
}

main .olga_bg .olga_wrap .olga_bottom .arrow_g {
    background-color:red;
    position:absolute; right:50px; top:450px;
    width:1290px;
    display:flex; justify-content:space-between;
}
main .olga_bg .olga_wrap .olga_bottom .arrow_g a {}
main .olga_bg .olga_wrap .olga_bottom .arrow_g a img {}

/* 6행 best product */
main .best_product {
    width:1600px;
    margin:150px auto;
    position:relative;
}
main .best_product .title_g {
    display:flex; justify-content:space-between;
    margin-bottom:10px;
}
main .best_product .title_g .title p {
    font-size:1.125rem;
    margin-bottom:5px;
}
main .best_product .title_g .title h2 {
    font-size:2rem; font-weight:600;
}
main .best_product .title_g .more {
    border:1px solid red;
    margin-top:41px;
    line-height:14px;
}
main .best_product .title_g .more span {
    font-size:0.875rem;
}
main .best_product .title_g .more img {}
main .best_product .menu_g {}
main .best_product .menu a {
    font-weight:500;
}
main .best_product .menu a:hover {
    color:#7AC142;
}
main .best_product .menu .top {
    padding:25px 0 10px;
    border-top:0.3px solid rgba(51,51,51,0.3);
}
main .best_product .menu .top a {}


main .best_product .menu .bottom {
    padding:10px 0 25px;
    border-bottom:0.3px solid rgba(51,51,51,0.3);
}
main .best_product .menu .bottom a {}
main .best_product .menu .top a,
main .best_product .menu .bottom a {margin-right:50px;}
main .best_product .menu .top a:last-child,
main .best_product .menu .bottom a:last-child {margin-right:0;}

main .best_product .best_swiper {}
main .best_product .best_swiper .swiper-wrapper {}
main .best_product .best_swiper .swiper-wrapper .swiper-slide {}
main .best_product .best_swiper .swiper-wrapper .swiper-slide ul {
    background-color:aqua;
    display:flex; justify-content:space-between;
}
main .best_product .best_swiper .swiper-wrapper .swiper-slide ul li {
    width:260px;
}
main .best_product .best_swiper .swiper-wrapper .swiper-slide ul li a {}
main .best_product .best_swiper .swiper-wrapper .swiper-slide ul li a img {}
main .best_product .best_swiper .swiper-wrapper .swiper-slide ul li .content{
    background-color:yellow;
}

/* 7행 브랜드소개배너 */
/* 8행 밀키트 */
/* 9행 상품추천 */
/* 10행 배너2 - 녹즙, 아미오 */
/* 11행 유튜브 숏츠 */