/* 1행 메인 */
main {}
main .main_bg {
    width:100%;
    height:800px;
    position:relative;
    overflow:hidden;
}
main .main_bg .main_photo {
    background:url(../images/main1/main_photo1.jpg) center / cover;
    width:100%; height:800px;
}
main .main_bg h2 {
    position:absolute;
    top:500px;
    left:50%;
    transform:translateX(-300%);
}
main .main_bg h2 img {
    width:150px; height:70px;
}
main .main_bg p {
    position:absolute;
    top:580px;
    left:50%;
    transform:translateX(-230%);
    font-size:18px;
    color:#333;
}


/* 2행 카테고리 */
/* 3행 배너1 */
/* 4행 new product */
/* 5행 올가홀푸드 */
/* 6행 best product */
/* 7행 브랜드소개배너 */
/* 8행 밀키트 */
/* 9행 상품추천 */
/* 10행 배너2 - 녹즙, 아미오 */
/* 11행 유튜브 숏츠 */